#root {
  height: 100%;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 275px 50px 100px 250px 100px 50px;
  height: 75%;
}

.menu > div {
  justify-self: center;
}

.profilePic {
  grid-row: 1;
  grid-column: 1 / -1;
}

.profilePic > img {
  border: 3px solid black;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  margin-top: 5%;
  margin-left: 1%;
}

.name {
  grid-row: 2;
  margin-top: 5%;
  margin-left: 1%;
}

.bio {
  grid-row: 3;
  margin-top: 5%;
  margin-left: 1%;
  text-align: center;
}

.technologies {
  justify-self: center;
  text-align: center;
  width: 250px;
  font-size: 1.2em;
}

.links {
  display: grid;
  grid-template-rows: 1fr 25px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

#github {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#linkedin {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.contact {
  grid-row: 3;
  grid-column: 1 / 4;
  background-color: white;
  border: 2px solid #4d4dff;
  border-radius: 5px;
  transition: all 200ms;
}

#contactLink {  
  line-height: 50px;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  font-size: 1.75em;
  color: #4d4dff;
  cursor: pointer;
  text-decoration: none;
}

#contactImg {
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 10px;
}

.projectList {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  width: 900px;
  overflow: scroll;
  overflow-x: hidden;
}

.projectList > div {
  margin-left: 5%;
}

.projectEntry {
  display: grid;
  grid-template-columns: 3fr .25fr 3fr 1fr .25fr;
  grid-template-rows: 1fr;
  grid-template-areas: "i f d b";
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgb(223, 222, 222), 
              0 6px 6px #adadad;
  height: 200px;
  width: 800px;
  margin-top: 3%;
  margin-bottom: 3%;
  transition: all 200ms;
}

.projectEntry:hover {
  transform: translate(0, -0.5em);
}

.contact:hover {
  transform: scale(1.1);
}

.picture {
  grid-area: i;
  justify-content: center;
}

.filler {
  grid-area: f;
}

.picture > img {
  border-radius: 5px;
  width: 100%;
  height: 200px;
}

.description {
  grid-area: d;
  padding-right: 5%;
  margin-top: 3%;
}

.buttons > a {
  line-height: 50px;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  font-size: 1.75em;
  color: white;
  font-family: fantasy;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

a:hover {
  transform: scale(.95);
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-self: center;
}

.liveButton {
  background-color: rgb(223, 0, 0);
  border-color: rgb(223, 0, 0);
}

.liveDisabledButton {
  background-color: rgb(150, 150, 150);
  border-color: rgb(150, 150, 150);
}

.demoButton {
  background-color: rgb(0, 0, 223);
  border-color: rgb(0, 0, 223);
}

.codeButton {
  background-color: rgb(0, 223, 0);
  border-color: rgb(0, 223, 0);
  margin-top: 5%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid black;
  width: 800px;
  height: 600px;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.emailForm {
  grid-row: 2 / 12;
  grid-column: 1 / 12;
}

form {
  display: grid;
  grid-template-rows: repeat(12, 50px);
  grid-template-columns: 1fr 4fr;
  grid-gap: 5px;
}

form > h3 {
  color: red;
  position: absolute;
}

label {
  font-size: 1.2em;
  margin-left: 30%;
  text-align: left;
}

#nameError {
  display: none;
  top: 17.5%;
  right: 38%;
}

#emailError {
  display: none;
  top: 26.5%;
  right: 38%;
}

#messageError {
  display: none;
}

textarea {
  resize: none;
}

#nameField, #emailField {
  width: 200px;
  height: 20px;
}

#messageField {
  height: 200px;
}

#recaptcha {
  grid-row: 7;
  grid-column: 2;
}

#submitButton {
  position: absolute;
  bottom: 70px;
  right: 70px;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.modal-content > h1 {
  grid-row: 1;
  grid-column: 1 / 11;
  font-size: 3em;
  margin-left: 5%;
  border-bottom: 1px solid black;
}

.close {
  grid-row: 1;
  grid-column: 12;
  color: #aaaaaa;
  justify-self: center;
  align-self: top;
  font-size: 42px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalControls {
  grid-row: 2 / 13;
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 200px 40px;
}

.modalControls > h4 {
  justify-self: center;
  align-self: center;
}

.filters {
  display: grid;
  grid-template-rows: 0.35fr 0.5fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.filters > h4,h2 {
  justify-self: center;
}

.filters > select {
  justify-self: center;
  width: 125px;
  height: 20px;
}

.startSearch {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.startSearch > h4 {
  justify-self: center;
}

#goButton {
  height: 100px;
  width: 150px;
  justify-self: center;
  align-self: center;
  background-color: green;
  font-size: 2em;
}


/*
.container > *:nth-child(1n) {
  background-color: yellow;
}

.container > *:nth-child(2n) {
  background-color: purple;
}


.menu > div {
  border: 1px solid black;
}

.menu > div:nth-child(1n) {
  background-color: red;	
}

.menu > div:nth-child(2n) {
  background-color: orange;
}

.menu > div:nth-child(3n) {
  background-color: green;
}


.projectList > div:nth-child(1n) {
  background-color: #96ceb4;	
}

.projectList > div:nth-child(3n) {
  background-color: #88d8b0;
}

.projectList > div:nth-child(2n) {
  background-color: #ff6f69;
}
*/